$nav-fg-color: #eeeeee;
$nav-bg-color: #0033aa;
$nav-hover-color: #aaaaff;

$dialog-box-background-color: $nav-bg-color;
$dialog-box-text-color: $nav-fg-color;
$dialog-box-shadow-color: #000000;

$side-box-fg-color: $nav-bg-color;

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    overflow-y: scroll;
}

.page {
    display: flex;

    .contents {
        flex: 1 1 auto;
        overflow: hidden;
    }

    .side-bar {
        flex: 0 0 20em;
    }
}

.navigation {
    padding: 1em 0 1em 1em;

    .box {
        color: $side-box-fg-color;
        padding: 0.5em 0.5em 0.5em 0.5em;
        border: 3px solid $side-box-fg-color;
        transition: opacity 0.3s;
        margin-bottom: 1em;

        H4 {
            margin: 0;
        }

        A {
            &:link, &:visited {
                text-decoration: none;
                color: $side-box-fg-color;
            }
        }

        &.hidden {
            opacity: 0;
            transition: opacity 0s;
        }
    }
}
