@import '../global.scss';

.blog-navigation {
    @extend .navigation;
    
    .categories {
        padding-inline-start: 2em;
    }

    .tags {
        padding-top: 0.8em;
        padding-left: 1em;

        SPAN {
            &::after {
                content: " ";
            }
        }
    }
}
