.error-boundary {
    border: 3px solid red;
    color: red;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin: 1em 1em 1em 1em;
    font-size: 1.2em;
    font-weight: bold;
    user-select: text;

    PRE {
        font-size: 0.8em;
    }
}
