@import '../global.scss';

.top-navigation {
    color: $nav-fg-color;
    background-color: $nav-bg-color;
    padding: 0.25em 0.5em 0.25em 0.5em;

    .title {
        padding: 0.25em 0.25em 0.25em 0.25em;
        margin: 0;
    }

    .languages {
        float: right;

        A {
            text-transform: uppercase;
        }
    }

    .button {
        display: inline-block;
        padding: 0.25em 0.5em 0.25em 0.5em;
    }

    A {
        &:link, &:visited {
            color: $nav-fg-color;
            text-decoration: none;

            &:hover {
                color: $nav-hover-color;
                text-decoration: underline;
            }
        }
    }
}
